body {
    font-family: helvetica;
    margin: 0;
}

td {
    padding: 6px 0;
}
.main {
    margin: 10px 40px;
}
.employee-form {
    /* flex property to align content in center */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}
.logo-main {
    display: flex;
    justify-content: center;
}
.logo {
    width: 150px;
}
.input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}
#submit-btn {
    width: 100px;
    height: 42px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

/* css for display */

.display-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}

.display-table td,
.display-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
